{%  extends 'main.html' %}

{% block content %}


<section class="">
    <div class="div_annonces_start">
        <h1> MES ANNONCES </h1>
        <a class="btn-default" href="{% url 'nouvelle-annonce' %}"> Créer une nouvelle annonce </a>
    </div>
    <div class="card-container">
        {% for annonce in annonces %}
            <article class="card">
                <h4 class="annonce-titre"> {{ annonce.id }} -- <a href="{% url 'annonce' annonce.id %}"> {{ annonce.titre }} </a> </h4>
                {% if annonce.type == 'demande' %}
                    {% if annonce.associations.all.count > 0 %}
                        <p> {{ annonce.associations.all.count }} correspondances </p>
                    {% else %}
                        <p> aucune correspondance pour l'instant </p>
                    {% endif %}
                {% endif %}
                <p> budget: moins de {{ annonce.prix }} € </p>
                <div class="card-crud">
                    <a class="btn-card-crud" href="{% url 'modifier-annonce' annonce.id %}"> Modifier </a>
                    <a class="btn-card-crud" href="{% url 'supprimer-annonce' annonce.id %}"> Supprimer </a>
                </div>
            </article>
        {% endfor %}
    </div>

</section>




{% endblock content %}