{%  extends 'main.html' %}

{% block content %}
<h1> ACCUEIL </h1>

<div>

    <a href="{% url 'nouvelle-annonce' %}"> Créer une nouvelle annonce </a>

    <div>
        {% for annonce in annonces %}
            <div>
                <h5> {{ annonce.id }} -- <a href="{% url 'annonce' annonce.id %}"> {{ annonce.titre }} </a> </h5>
                <span>{{ annonce.prix }} € </span>
                <a href="{% url 'modifier-annonce' annonce.id %}"> Modifier </a>
                <a href="{% url 'supprimer-annonce' annonce.id %}"> Supprimer </a>
                <hr>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}